<?xml version="1.0" encoding="utf-8"?>
<container
        xmlns="http://symfony.com/schema/dic/services"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <!-- Database -->
        <parameter
                key="chamilo.configuration.database"
                type="collection">
            <parameter key="driver">mysql</parameter>
            <parameter key="username">{{ cosnics_deploy_database_username }}</parameter>
            <parameter key="password">{{ cosnics_deploy_database_password }}</parameter>
            <parameter key="host">{{cosnics_deploy_database_host}}</parameter>
            <parameter key="name">{{cosnics_deploy_database_name}}</parameter>
            <parameter key="charset">utf8</parameter>
        </parameter>

        <parameter
                key="chamilo.configuration.database.test"
                type="collection">
            <parameter key="driver">mysql</parameter>
            <parameter key="username">{{ cosnics_deploy_database_username }}</parameter>
            <parameter key="password">{{ cosnics_deploy_database_password }}</parameter>
            <parameter key="host">{{cosnics_deploy_database_host}}</parameter>
            <parameter key="name">{{cosnics_deploy_test_database_name}}</parameter>
            <parameter key="charset">utf8</parameter>
        </parameter>

        <!-- Storage -->
        <parameter
                key="chamilo.configuration.storage"
                type="collection">
            <parameter key="archive_path">{{ deploy_helper.new_release_path }}/storage/archive/</parameter>
            <parameter key="cache_path">{{ deploy_helper.new_release_path }}/cache/{{cosnics_deploy_timestamp.stdout}}/</parameter>
            <parameter key="garbage_path">{{ deploy_helper.new_release_path }}/storage/garbage/</parameter>
            <parameter key="hotpotatoes_path">{{ deploy_helper.new_release_path }}/web/Files/Chamilo/Core/Repository/ContentObject/Hotpotatoes</parameter>
            <parameter key="logs_path">{{ deploy_helper.new_release_path }}/storage/logs/</parameter>
            <parameter key="repository_path">{{ deploy_helper.new_release_path }}/storage/repository/</parameter>
            <parameter key="scorm_path">{{ deploy_helper.new_release_path }}/storage/scorm/</parameter>
            <parameter key="temp_path">{{ deploy_helper.new_release_path }}/storage/temp/</parameter>
            <parameter key="userpictures_path">{{ deploy_helper.new_release_path }}/storage/userpictures/</parameter>
        </parameter>

        <parameter key="chamilo.configuration.general.security_key">{{ cosnics_deploy_security_key }}</parameter>
        <parameter key="chamilo.configuration.general.hashing_algorithm">{{ cosnics_deploy_hashing_algorithm }}</parameter>
        <parameter key="chamilo.configuration.general.install_date">1456390191</parameter>
        <parameter key="chamilo.configuration.general.language">nl</parameter>
        <parameter key="chamilo.configuration.general.theme">Aqua</parameter>
        <parameter key="chamilo.configuration.debug.show_errors">{{ cosnics_deploy_show_errors }}</parameter>
        <parameter key="chamilo.configuration.debug.enable_query_cache">1</parameter>
        <parameter key="chamilo.configuration.session.session_handler">php</parameter>
        <parameter key="chamilo.configuration.kernel.service">{{cosnics_deploy_kernel_location}}</parameter>
        <parameter key="chamilo.configuration.version">7</parameter>

        <parameter
                key="chamilo.configuration.error_handling"
                type="collection">
            <parameter
                    key="exception_logger"
                    type="collection">
                <parameter key="file">Chamilo\Libraries\Architecture\ErrorHandler\ExceptionLogger\FileExceptionLogger</parameter>
                {%- if sentry_dsn is defined and sentry_dsn -%}
                <parameter key="sentry">Chamilo\Libraries\Architecture\ErrorHandler\ExceptionLogger\SentryExceptionLogger</parameter>
                {%- endif -%}
            </parameter>
            <parameter
                    key="exception_logger_builder"
                    type="collection">
                <parameter key="file">Chamilo\Libraries\Architecture\ErrorHandler\ExceptionLogger\FileExceptionLoggerBuilder</parameter>
                {%- if sentry_dsn is defined and sentry_dsn -%}
                <parameter key="sentry">Chamilo\Libraries\Architecture\ErrorHandler\ExceptionLogger\SentryExceptionLoggerBuilder</parameter>
                {%- endif -%}
            </parameter>
            {%- if sentry_dsn is defined and sentry_dsn -%}
            <parameter key="sentry_error_logger" type="collection">
                <parameter key="DSN">{{sentry_dsn}}</parameter>
            </parameter>
            {%- endif -%}
        </parameter>
        {%- if extra_cosnics_config_parameters is defined and extra_cosnics_config_parameters -%}
            {% for parameter in extra_cosnics_config_parameters %}
                <parameter key="{{parameter.key}}">{{parameter.value}}</parameter>
            {% endfor %}
        {%- endif -%}
    </parameters>
</container>