<?php
/**
 * Change these values if you want to use phpmailer to send emails
 *
 * @package libraries.mail.phpmailer
 */
$phpMailerConfiguration['SMTP_FROM_EMAIL'] = '{{php_mailer_from_email}}';
$phpMailerConfiguration['SMTP_FROM_NAME'] = '{{php_mailer_from_name}}';
$phpMailerConfiguration['SMTP_HOST'] = '{{php_mailer_host}}';
$phpMailerConfiguration['SMTP_PORT'] = {{php_mailer_port}};
$phpMailerConfiguration['SMTP_MAILER'] = '{{php_mailer_mailer}}'; // mail, sendmail or smtp
$phpMailerConfiguration['SMTP_AUTH'] = {{php_mailer_auth}};
$phpMailerConfiguration['SMTP_USER'] = '{{php_mailer_user}}';
$phpMailerConfiguration['SMTP_PASS'] = '{{php_mailer_pass}}';